<article class="post">
    <header>
        <h2 class="post__title">
            
            {% comment %} blog:post = app_name:post do context (data.py)
            post.id = dicionario do data.py com a chave id 
            
            {% endcomment %}
            <a href="{% url "blog:post" post.id %}">
                {{post.title}}
            </a>
            {% comment %} .title: chave do dicionario (data.py) {% endcomment %}
        </h2>
    </header>
    <div class="post__body">
        {{post.body}}
    </div>
</article>